@model IEnumerable<PPageMVC1.Models.ApplicationUser>
@{ 
    ViewBag.Title = "Index";
    } 
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CodeByClint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="~/Content/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/magnific-popup.css">

    <link rel="stylesheet" href="~/Content/style.css">


    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">

            <div class="fh5co-hero">
                <div class="fh5co-overlay"></div>
                <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(~/Content/cover_bg_1.jpg); background-image: url(~/Content/images/14203378_10207388179005446_5502162010684583688_n.jpg);">
                    <div class="desc">
                        <div class="container">
                            <div class="col-md-10 col-md-offset-1">

                                <div class="animate-box">
                                    <h2>Welcome to my webpage!</h2>
                                    <p>HandCrafted with pixels by Clint Taylor <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">codebyclint.com</a></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <header id="fh5co-header-section" class="sticky-banner">
        <div class="container">
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                <h1 id="fh5co-logo"><a href="~/Home/index.html">Home</a></h1>
                <!-- START #fh5co-menu-wrap -->
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li class="active"><a href="~/Home/index.html">Home</a></li>
                        <li>
                            <a href="#" class="fh5co-sub-ddown">Menu</a>
                            <ul class="fh5co-sub-menu">

                                <li><a href="~/Home">Home</a></li>
                                <li><a href="~/Home/Resume">Resume</a></li>
                                <li><a href="~/Home/Portfolio">Portfolio</a></li>
                                <li><a href="~/Home/references">References</a></li>
                                <li><a href="~/Home/codeNinjas.html">Centriq class</a></li>
                                <li><a href="~/Home/about.html">About</a></li>
</ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>





    <!-- end:header-top -->


    <div id="fh5co-feature-product" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                    <h3>Hello and welcome</h3>
                    <p>Have a look around. Be sure to check out my LinkedIn links and my past projects in the "Portfolio" page.</p>
                </div>
            </div>

            <div class="row row-bottom-padded-md">
                <div class="col-md-12 text-center animate-box">

                    <p><img src="images/spearfish scenic 1.jpg" /></p>

                </div>

            </div>
            <div class="row row-bottom-padded-md">
                <div class="col-md-4">
                    <div class="feature-text">
                        <h3>About Me</h3>
                        <p>Though I am new to the IT industry, coming from warehousing and inventory control, I bring years of experience with time management, problem solving and critical thinking. Also, I am adept with problem sensitivity, process monitoring, and I can work both independently and in a group setting. I’m very dependable, and I bring a great deal of integrity and optimism with me.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-text">
                        <h3>Passions</h3>
                        <p>There are a lot of parallels between my passions, which is music production and web development. I like being able to take the most basic of an idea and make it into something tangible. My plan is to work in development, with mentoring and continued education, up the ranks. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-text">
                        <h3>Let's work this out!</h3>
                        <p>
                            Hello.
                            My name is Clint Taylor. I am a dot net full stack developer. I am looking forward to speaking with you and how I can help your company achieve its goals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="fh5co-content-section">
        <div class="container">
            <div class="row row-bottom-padded-md">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">

                    <img src="~/Content/cropped me.jpg" width="500" height="500" />
                    <h3>Meet the Developer!</h3>
                    <p>Clint Taylor</p>
                </div>
            </div>
        </div>







        <footer>





            <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                <h3>Connect</h3>
                <ul>
                    <li><a href="#">Follow on Twitter</a></li>
                    <li><a href="#">Like on Facebook</a></li>
                    <li><a href="#">Partner with Linkedin</a></li>

                </ul>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-facebook2"></i></a>
                        <a href="#"><i class="icon-linkedin"></i></a>

                    </p>
                    <p>Copyright 2016 Free Html5 <a href="#">Module</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
                </div>
            </div>

        </footer>




        <!-- jQuery -->


        <script src="~/Content/jquery.min.js"></script>
        <!-- jQuery Easing -->
        <script src="~/Content.easing.1.3.js"></script>
        <!-- Bootstrap -->
        <script src="~/Content/bootstrap.min.js"></script>
        <!-- Waypoints -->
        <script src="~/Content/jquery.waypoints.min.js"></script>
        <script src="~/Content/sticky.js"></script>

        <!-- Stellar -->
        <script src="~/Content/jquery.stellar.min.js"></script>
        <!-- Superfish -->
        <script src="~/Content/hoverIntent.js"></script>
        <script src="~/Content/superfish.js"></script>
        <!-- Magnific Popup -->
        <script src="~/Content/jquery.magnific-popup.min.js"></script>
        <script src="~/Content/magnific-popup-options.js"></script>

        <!-- Main JS -->
        <script src=~/Content/main.js"></script>

</body>
</html>
