
@{
    ViewBag.Title = "Portfolio";
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CodeByClint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />
    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="~/Content/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/style.css">

    <!-- Modernizr JS -->
    <script src="~/Content/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="fh5co-wrapper">
        <div id="fh5co-page">

            <div class="fh5co-hero">
                <div class="fh5co-overlay"></div>
                <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url('~/Content/images/2001-gif-superJumbo-v5.gif');">
                    <div class="desc animate-box">
                        <div class="container">
                            <div class="col-md-10 col-md-offset-1">

                                <div class="animate-box">
                                    <h2>Portfolio</h2>
                                    <p>HandCrafted with caffeine and pixels by <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">Clint Taylor</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <header id="fh5co-header-section" class="sticky-banner">
                <div class="container">
                    <div class="nav-header">
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
                        <h1 id="fh5co-logo"><a href="~/Content/index.html">Portfolio</a></h1>
                        <!-- START #fh5co-menu-wrap -->
                        <nav id="fh5co-menu-wrap" role="navigation">
                            <ul class="sf-menu" id="fh5co-primary-menu">
                                <li><a href="~/Content/">Portfolio</a></li>
                                <li>
                                    <a href="#" class="fh5co-sub-ddown">Menu</a>
                                    <ul class="fh5co-sub-menu">
                                        <li>
                                            <a href="#" class="fh5co-sub-ddown">Menu</a>
                                            <ul class="fh5co-sub-menu">
                                                <li><a href="~/Home">Home</a></li>
                                                <li> <a href="~/Resume">Resume</a>

                                                <li>< class="active"> <a href="~/Portfolio">Portfolio</a></li>
                                                <li><a href="~/references">References</a></li>
                                                <li><a href="~/codeNinjas.html">Centriq class</a></li>
                                                <li><a href="~/about.html">About</a></li>
                                            </ul>
                                        </li>


                                    </ul>
                                </li>
                                <


                            </ul>
                        </nav>
                    </div>
                </div>
            </header>
            <!-- end:header-top -->

            <div id="fh5co-blog-section" class="fh5co-section-gray">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                            <h3>In the Beginning</h3>
                            <p>.</p>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row row-bottom-padded-md">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="fh5co-blog animate-box">
                                <a href="#"><img class="img-responsive" src="~/Content/images/cover_bg_1.jpg" alt=""></a>
                                <div class="blog-text">
                                    <div class="prod-title">
                                        <h3><a href="" #>Shall We Play A Game?</a></h3>
                                        <span class="posted_by">Clint</span>
                                        <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
                                        <p>My first attempt at a computer game.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="fh5co-blog animate-box">
                                <a href="#"><img class="img-responsive" src="images/cover_bg_2.jpg" alt=""></a>
                                <div class="blog-text">
                                    <div class="prod-title">
                                        <h3><a href="" #></a></h3>
                                        <span class="posted_by">Clint</span>
                                        <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
                                        <p>My first HTML/CSS projects</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="fh5co-blog animate-box">
                                <a href="#"><img class="img-responsive" src="images/cover_bg_2.jpg" alt=""></a>
                                <div class="blog-text">
                                    <div class="prod-title">
                                        <h3><a href="" #>My first website</a></h3>
                                        <span class="posted_by">Sep. 15th</span>
                                        <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
                                        <p>Hello, world!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="fh5co-blog animate-box">
                                <a href="#"><img class="img-responsive" src="images/cover_bg_1.jpg" alt=""></a>
                                <div class="blog-text">
                                    <div class="prod-title">
                                        <h3><a href="" #>Under Construction</a></h3>
                                        <span class="posted_by">Sep. 15th</span>
                                        <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
                                        <p>Coming soon</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm-block"></div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="fh5co-blog animate-box">
                                <a href="#"><img class="img-responsive" src="~/Content/images/cover_bg_3.jpg" alt=""></a>
                                <div class="blog-text">
                                    <div class="prod-title">
                                        <h3><a href="" #>Under Construction</a></h3>
                                        <span class="posted_by">Sep. 15th</span>
                                        <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
                                        <p>Coming Soon!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="fh5co-blog animate-box">
                                <a href="#"><img class="img-responsive" src="images/cover_bg_2.jpg" alt=""></a>
                                <div class="blog-text">
                                    <div class="prod-title">
                                        <h3><a href="" #>Under construction</a></h3>
                                        <span class="posted_by">Sep. 15th</span>
                                        <span class="comment"><a href="">21<i class="icon-bubble2"></i></a></span>
                                        <p>Under Construction</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-md-block"></div>
                    </div>

                </div>
            </div>
            <!-- fh5co-blog-section -->




            <div id="footer">
                <div class="container">



                    <div class="col-md-2 col-sm-2 col-xs-12 fh5co-footer-link">
                        <h3>Connect</h3>
                        <ul>
                            <li><a href="#">Follow on Twitter</a></li>
                            <li><a href="#">Like on Facebook</a></li>
                            <li><a href="#">Partner with Linkedin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <p class="fh5co-social-icons">
                            <a href="#"><i class="icon-twitter2"></i></a>
                            <a href="#"><i class="icon-facebook2"></i></a>
                            <a href="#"><i class="icon-instagram"></i></a>

                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- END fh5co-page -->
    <!-- END fh5co-wrapper -->
    <!-- jQuery -->

    <script src="~/Content/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="~/Content/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Content/jquery.waypoints.min.js"></script>
    <script src="~/Content/sticky.js"></script>
    <!-- Stellar -->
    <script src="~/Content/jquery.stellar.min.js"></script>
    <!-- Superfish -->
    <script src="~/Content/hoverIntent.js"></script>
    <script src="~/Content/superfish.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Content/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/magnific-popup-options.js"></script>

    <!-- Main JS -->
    <script src="~/Content/main.js"></script>
</body>
</html>

