
@{
    ViewBag.Title = "Resume";
}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CodeByClint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />

    <!--
      //////////////////////////////////////////////////////

      FREE HTML5 TEMPLATE
      DESIGNED & DEVELOPED by FREEHTML5.CO

      Website: 		http://freehtml5.co/
      Email: 			info@freehtml5.co
      Twitter: 		http://twitter.com/fh5co
      Facebook: 		https://www.facebook.com/fh5co

      //////////////////////////////////////////////////////
       -->
    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'> -->
    <!-- Animate.css -->
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <!-- Superfish -->
    <link rel="stylesheet" href="~/Content/superfish.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/magnific-popup.css">

    <link rel="stylesheet" href="~/Content/style.css">

    <link rel="stylesheet" href="~/Content/code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/resources/demos/style.css">


    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>
<body>


    <div class="fh5co-hero">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(~/Content/cover_bg_1.jpg); background-image: url('~/Content/14203378_10207388179005446_5502162010684583688_n.jpg');">
            <div class="desc animate-box">
                <div class="container">
                    <div class="col-md-10 col-md-offset-1">


                        <div class="animate-box">
                            <h2>My Resume</h2>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <header id="fh5co-header-section" class="sticky-banner">
        <div class="container">
            <div class="nav-header">
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>

                <!-- START #fh5co-menu-wrap -->
                <nav id="fh5co-menu-wrap" role="navigation">
                    <ul class="sf-menu" id="fh5co-primary-menu">
                        <li><a href="~/Home/Resume">Resume</a></li>
                        <li>
                            <a href="#" class="fh5co-sub-ddown">Menu</a>
                            <ul class="fh5co-sub-menu">
                                <li><a href="~/Home">Home</a></li>
                                <li class="active"><a href="~/Resume">Resume</a>
                                <li><a href="~/Portfolio">Portfolio</a>
                                <li><a href="~/references">References</a></li>
                                <li><a href="~/codeNinjas.html">Centriq class</a></li>
                                <li><a href="~/about.html">About</a></li>
                            </ul>
                        </li>




                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!-- end:header-top -->





    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center heading-section">
            <div id="accordion">
                <h3>Qualifications</h3>
                <div>
                    <p>Solid foundational knowledge of designing and developing full-stack web applications using .NET framework. Adept in time management, self-management, and quality workmanship.Familiarity with both group projects and independent goal accomplishment.</p>

                </div>
                <h3>Technical Skills</h3>
                <div>
                    <ul>
                        <li>  FRONT END: HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap</li>
                        <li>  MIDDLE TIER: Visual Studio, C#.NET, ASP.NET, LINQ, MVC, EF</li>
                        <li> BACK END: ADO.NET, SQL, SQL Server, SSMSE jQuery</li>
                    </ul>


                </div>


                <h3>Independent Development Projects</h3>
                <div>
                    <ul>
                        <li>PERSONAL SITE: www.codebyclint.com </li>
                        <li>U STORE:  Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data.</li>
                        <li>FINAL PROJECT:  Created a secure data-driven ASP.NET MVC application from design through deployment for managing the tracking and organization of hardware and software within a company. Administrators have the ability to manage employee, department data and all details relating to assigned hardware and software.</li>
                    </ul>
                </div>

                <h3>Technical Training</h3>
                <div>
                    <p>FULL-STACK WEB DEVELOPER PROGRAM CENTRIQ TRAINING – KANSAS CITY, MO</p>
                    <p>Core Competencies</p>
                    <ul>
                        <li>MVC Framework</li>
                        <li>Trouble Shooting & Debugging</li>
                        <li>Source Control</li>
                        <li>Agile/Scrum</li>
                        <li>Website Deployment</li>
                        <li>Pair Programming</li>
                        <li>Code Review</li>
                        <li>Professionalism, Teamwork, Problem Solving & Effective Communication</li>
                    </ul>
                </div>

            </div>
            <br />
            <br />
            <section>
                <div class="col-md-12"></div>
                <p><b>Work Experience</b></p>
                <br />
                <br />
                <div class="col-md-4">

                    <p>INVENTORY SPECIALIST</p>
                    <p>TRINITY BIOTECH – KANSAS CITY, MO	06/2014 – 07/2017</p>
                    <br />

                    <p>
                        Performed all inventory transactions including physical movement and data entry.
                        Rotated stock, kept records, and ensured compliance.
                        Corrected database errors and reconciled inventory issues.
                    </p>
                </div>

                <div class="col-md-4">

                    <p>ELECTRONIC ASSEMBLY</p>
                    <p>08/2014 – 05/2014 ECM – LENEXA, KS</p>
                    <br />

                    <p>
                        Assembled electronic systems and installed components.
                        Utilized quality assurance and quality control procedures to ensure efficient and correct work.
                    </p>
                </div>

                <div class="col-md-4">
                    <p>RETURNS TECHNICIAN I<p>
                    <p>11/2010 – 05/2014   MUSICIAN’S FRIEND DISTRIBUTION CENTER – KANSAS CITY, MO  </p>
                    <br />

                    <p>
                        Resolved customer return issues.
                        Completed bench testing and classified customer returns.
                        Performed data entry and inventory movement via RF scanning.
                    </p>
                </div>





            </section>



        </div>
    </div>


    <footer>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <p class="fh5co-social-icons">
                    <a href="#"><i class="icon-twitter2"></i></a>
                    <a href="#"><i class="icon-facebook2"></i></a>
                    <a href="#"><i class="icon-linkedin"</i></a>
                </p>
                <p>Copyright 2016 Free Html5 <a href="#">Module</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
            </div>
        </div>


    </footer>


    <script src="~/Content/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Content/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="~/Content/jquery.waypoints.min.js"></script>
    <script src="~/Content/sticky.js"></script>

    <!-- Stellar -->
    <script src="~/Content/jquery.stellar.min.js"></script>
    <!-- Superfish -->
    <script src="~/Content/hoverIntent.js"></script>
    <script src="~/Content/superfish.js"></script>
    <!-- Magnific Popup -->
    <script src="~/Content/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/magnific-popup-options.js"></script>

    <!-- Main JS -->
    <script src="~/Content/main.js"></script>

</body>
</html>


